@import '~leaflet/dist/leaflet.css';


.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.leaflet-control-geosearch .results > *:empty {
  display: none;
}

.primary {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 10%;
  padding:15px;
  background-color:blue;
  border-radius: 30px;
  border: 1px solid blue;
  color: white;
  cursor: pointer;
}

.resetMap {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 10%;
  padding:15px;
  background-color:red;
  border-radius: 30px;
  border: 1px solid red;
  color: white;
  cursor: pointer;
}
