@import '~leaflet/dist/leaflet.css';

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfe0e2;
  height: 100vh;

  label {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
  }

  input {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
  }

  button {
    padding: 10px;
    background-color: #3580dc;
    border-radius: 10px;
    border: 1px solid #3580dc;
    color: white;
    cursor: pointer;
    width: 100px;
    transition: all 0.5s;
    margin-top: 15px;
    font-weight: bold;
  }

  button:hover {
    opacity: 0.75;
  }
  
}

.main {
  display: flex;

  .container-sidebar-menu  {
    width: 3%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 90vh;
    transition: all 1s;
    padding: 20px;

    .hamburger-icon {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 35px;
      cursor: pointer;
    }

    .container-adresses, .container-buttons  {
      transition: opacity 0.5s;
      opacity: 0;
    } 

    &.show {
      width: 25%;
      
      .container-adresses, .container-buttons  {
        opacity: 1;
      } 
    }

    .container-adresses {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 80%;
      width: 100%;
      align-items: center;
  
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #989898;
      }
  
      .container-input {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: space-evenly;
        width: 100%;
    
        .removeInputAddressIcon, .addInputAddressIcon {
          font-size: 25px;
          cursor: pointer;
        }
        
        .removeInputAddressIcon:hover {
          fill:red;
          transition: all 0.25s;
        }
    
        .addInputAddressIcon:hover {
          fill:green;
          transition: all 0.25s;
        }
    
        .hidden {
          visibility: hidden;
        }
    
        input{
          font-size: 16px;
          width: 75%;
          padding: 10px;
          border-radius: 15px;
          border: 1px solid #000;
          outline: none;
        }
      }
    }
  
    .container-buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      .btn-info {
        padding:15px;
        background-color:#3580dc;
        border-radius: 30px;
        border: 1px solid #3580dc;
        color: white;
        cursor: pointer;
        transition:all 1s;
  
        &:hover {
          opacity: 0.5;
        }
      }
  
      .btn-primary {
        padding:15px;
        background-color:#28a745;
        border-radius: 30px;
        border: 1px solid #28a745;
        color: white;
        cursor: pointer;
        margin: 15px 0;
        transition:all 1s;
  
        &:hover {
          opacity: 0.5;
        }
      }
  
      .btn-error {
        padding:15px;
        background-color:#dc3545;
        border-radius: 30px;
        border: 1px solid #dc3545;
        color: white;
        cursor: pointer;
        transition:all 1s;
  
        &:hover {
          opacity: 0.5;
        }
      }
  
    }
  
  }

  .leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .container-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .popup-text {
      font-size: 16px;
      margin-bottom: 15px;
    } 
    
    .btn-edit {
      font-size: 14px;
      padding: 10px;
      background-color:#007bff;
      border-radius: 10px;
      border: 1px solid #007bff;
      color: white;
      cursor: pointer;
      margin-left: 10px;
    }

    .btn-delete {
      font-size: 14px;
      padding: 10px;
      background-color:#dc3545;
      border-radius: 10px;
      border: 1px solid #dc3545;
      color: white;
      cursor: pointer;
      margin-left: 10px;
    }
  }

}